#probe-selector::-webkit-scrollbar {
   display: none !important;
}

.onglet{
  background: #F9F9F9;

height: 45px !important;
overflow: hidden;
opacity:0.6;
margin: 0 -2px 0 0!important;
min-width: 150px;
}
.onglet a{
  height: 50px!important;
background: #F9F9F9!important;
border-radius: 10px 10px 0 0 !important;
border: 1px solid #ccc!important;
margin: 0 10px 0!important;
box-shadow: 0 0 2px #fff inset!important;
-webkit-transform: perspective(100px) rotateX(30deg)!important;
-moz-transform: perspective(100px) rotateX(30deg)!important;
transform: perspective(100px) rotateX(30deg)!important;
color:#909090;
font-size: 15px!important;
overflow: hidden;
}

.onglet span{
width: 100%;
  white-space: normal;
overflow-x: auto;
height: 18px;
max-height: 18px;
display: block;
overflow: hidden;
pointer-events:none;
}
.active{

  opacity: 1.0!important;
}
.active a{
  background: white !important;
}

.container-new{
  width: 90%;
  margin: auto;
}
.top-front{
  background-color: #F9F9F9;
  position: absolute;
  width: 100%;
  height: 129px;
  z-index: -1;
  top: 0;

}
.zone-selector{
  display: none!important;
}

.invisible-btn-active{
  text-decoration: underline!important;
}
.invisible-btn-text{
  border:none!important;
  background-color: transparent;

}
.invisible-btn-text:hover{
  border:none!important;
  text-decoration: underline gray!important;
}
.block-cal{
      width: 180px;
      margin-top: -16px;
  display: inline-block;
}
.ten-marging-top{
  margin-top:10px;
}
.row-dashboard-title{

}
.highcharts-credits{
  display: none;
}
.row-chart{
  min-height: 400px;
}

@media (min-width: 600px) {
  .route-name{
  display:inline-block !important;
  }


 }

 .nav-pills>li {
   display: inline-block !important;
   float: none !important;
 }
 .nav-pills{
   overflow-y: hidden;
   overflow-x: auto;
   max-height: 40px;
  white-space: nowrap;
  position: relative;
 }


@media (max-width: 600px) {
 .block-cal{
   text-align: center !important;
   margin: auto;
   margin-top: 20px;
   left: 0;
   right: 0;
   position: absolute!important;
   min-height: 81px;

 }
 .row-chart{
       margin-top: 30px;
 }
 .top-front{
   height: 129px;
 }
 .dropdown-menu{
   position: fixed;
 left: 0;
 margin: auto;
 bottom: 0;
 right: 0;
 width: 90vw;
 height: 90vh;
 overflow-y: auto;
 z-index: 99;
 top: 0 !important;
       overflow-y: auto;
       z-index: 99;
 }
 .arrow-down {display: none!important}

 }

.highcharts-markers path:not(.highcharts-halo) {
  fill: transparent;
  stroke: transparent;
}
.highcharts-halo {
    fill: white;
}
.highcharts-halo.highcharts-color-0 {
    fill: white;
    stroke: rgb(124, 181, 236);

}
.highcharts-halo.highcharts-color-1 {
    fill: white;
    stroke: black;

}
.highcharts-halo.highcharts-color-2 {
    fill: white;
    stroke: rgb(144, 237, 125);

}
.highcharts-halo.highcharts-color-3 {
  fill: white;
  stroke: rgb(247, 163, 92);
  }
.highcharts-point{
  d:path("M 8 7 C 13.328 7 13.328 15 8 15 C 2.672 15 2.672 7 8 7 Z");
}


@media (max-width: 450px) {
  .hamburger-menu{

          display:none!important;

  }
  .logo{
  margin: 11px 0 11px 20px !important;
  max-width: 50%!important;
  overflow: hidden;
  }
  .logo-big{

  width: 100%!important;
  overflow: hidden;
  }
  .container-new{
    width: 100%;
  }
  .probe-selector .glyphicon{
    display: none;
  }
  body, html{
    overflow-x: hidden;
  }
  #period_navigation_next{
    margin-left: -7px!important;
  }
  .nav-pills{
    width: 111%;
    margin-left:-20px;
  }
/*  .highcharts-yaxis-labels, .highcharts-yaxis{
    display: none;
  }*/
  .row-chart{
    width: 200%;
  }
  .container-chart{
width: 100%;
overflow: auto;

  }
  .dropdown-menu{
    position: fixed;
  left: 0;
  margin: auto;
  bottom: 0;
  right: 0;
  width: 90vw;
  height: 90vh;
  overflow-y: auto;
  z-index: 99;
  top: 0 !important;
        overflow-y: auto;
        z-index: 99;
  }
  .arrow-down {display: none!important}
  .block-handle{display: none!important}
.value-block {
  height: 150px;
  width: calc(100% )!important;
}
.value-medium {
	margin-top:50px;
}
.plus-medium{margin-top:0px;}
  .onglet{

  margin: 0 -12px 0 0!important;
  }
  .invisible-btn{
    min-width: 50px;
  }
  .btn-add-sensor{
    height: 150px;
    width: calc(100% - 10px)!important;
    margin-left:5px!important;

  }
  .close-dropdown{
  	float:left;
  	margin:20px;
  	width: 10px;
  }
  .title-dropdown{
  font-family: 'Roboto';
  font-size: 15px;
  color: #000000;

  text-align: center;
  }
  .btn-add{
  	width: 90%;
  	margin: 20px 20px 20px 0;

  }

}

.probe-selector .glyphicon-chevron-right{
  color:gray;
  opacity: 0.5;
  float: right;
  top: 15px;
  right: -30px;
  position: absolute;
  z-index: 55;
  display: none;
}
.probe-selector .glyphicon-chevron-left{
  color:gray;
  opacity: 0.5;
  float: left;
  left: -30px;
  top: 15px;
  position: absolute;
  z-index: 55;
  display: none;
}
.probe-selector{
  position: relative;
}
.fix-hover-bug:hover .glyphicon-chevron-left, .fix-hover-bug:hover .glyphicon-chevron-right  {
  display: block;
}
.fix-hover-bug{
  padding: 0 35px;
}
.btn-group{
      vertical-align: top;
}
.onglet span{


text-align: left;
    -webkit-transform: perspective(100px) rotateX(-25deg)!important;
    -moz-transform: perspective(100px) rotateX(-25deg)!important;
    transform: perspective(100px) rotateX(-25deg)!important;
}
.value-medium, p, #period_navigation_label, h3, .value-label{
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-p */
}

.probe-editor input{
  width: 130px;
}
.dashboard-block {
/*  display: none;*/
}
.row-dashboard-title{
  display: none;
}

.probe-editor .dropdown{
  display: none!important;
}

.switch {

  width: 60px;
  height: 34px;
  position: absolute;
bottom: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch, .automation-btn{
  display: none;
}
.relay .switch,.relay  .automation-btn-show{
  display: block;
}
.relay .automation-btn{
  position: absolute;
    bottom: 5px;
    height: 10px;
    font-size: 10px;
    padding: 0 2px 1px 15px;
    color: black;
}
.automation-btn-show:before{
  content:" ";
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 2px 1px rgba(135,187,83,0.5);
background-color: rgb(135,187,83);
display: block;
    width: 4px;
    height: 4px;
    background-color: rgb(226,0,0);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(226,0,0,0.5);
    border-radius: 4px;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 42%;
    transition: background-color 350ms, box-shadow 700ms;
    -o-transition: background-color 350ms, box-shadow 700ms;
    -moz-transition: background-color 350ms, box-shadow 700ms;
    -webkit-transition: background-color 350ms, box-shadow 700ms;
    left: 5px;
bottom: 5px;
}
