<link rel="stylesheet" type="text/css" href="/css/navbar.css" />

<div class="navbar">
  <div class="hamburger-menu">
  </div>
  <div class="logo">
    <img src="images/logo.png" class="logo-big"/>
    </div>
    <div class="change-view">
      <h3 class="route-name " onload="routeNav" id="routeNavURL">  <%= RouteNavURL %></h3>

      <a href="/recipes/"><div class="recipes-icon <%= RouteNavURL %>" >
        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="0" y="2.4" width="9.93436682" height="2.46634596" rx="1.23317298"></rect>
            </defs>
            <g id="Dashboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1331.000000, -6.000000)" id="Header">
                    <g transform="translate(1.000000, 0.000000)">
                        <g id="Go-to-dashboard-Copy" transform="translate(1320.000000, 6.000000)">
                            <rect id="Rectangle" fill="#46025E" x="10.24" y="0" width="31.36" height="31.36" rx="1.28"></rect>
                            <g id="Icon_Recipes" transform="translate(13.600000, 10.400000)">
                                <g id="Rectangle-4">
                                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                    <rect stroke="#FFFFFF" stroke-width="0.5" x="0.25" y="2.65" width="9.43436682" height="1.96634596" rx="0.983172982"></rect>
                                </g>
                                <rect id="Rectangle-4" stroke="#FFFFFF" stroke-width="0.5" x="15.45" y="6.65" width="9.43436682" height="1.96634596" rx="0.983172982"></rect>
                                <rect id="Rectangle-4" stroke="#FFFFFF" stroke-width="0.5" x="15.45" y="0.25" width="9.43436682" height="1.96634596" rx="0.983172982"></rect>
                                <path d="M8.9,4.1 L11.4807707,4.1 L11.4807707,4.1 C12.1711266,4.1 12.7307707,3.54035594 12.7307707,2.85 L12.7307707,2.85 L12.7307707,2.85 C12.7307707,2.15964406 13.2904147,1.6 13.9807707,1.6 L15.6038486,1.6" id="Path-4" stroke="#FFFFFF" stroke-width="0.25"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div></a>

      <a href="/"><div class="dash-icon <%= RouteNavURL %>" >

        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Dashboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-1376.000000, -6.000000)" id="Header">
              <g transform="translate(1.000000, 0.000000)">
                  <g id="Go-to-dashboard" transform="translate(1365.000000, 6.000000)">
                      <rect id="Rectangle" fill="#46025E" x="10.24" y="0" width="31.36" height="31.36" rx="1.28"></rect>
                      <g id="Icon_dasbohrd" transform="translate(15.675493, 7.680000)" fill-rule="nonzero" fill="#FFFFFF">
                          <path d="M3.23351143,11.8812853 C3.60902806,11.8812853 3.91346308,11.5804991 3.91346308,11.2097143 C3.91346308,11.0826541 3.87581789,10.9652967 3.8138553,10.8638795 L6.14037485,8.93626053 C6.25985741,9.03952583 6.41441313,9.10421103 6.58557015,9.10421103 C6.96108677,9.10421103 7.26552179,8.80342485 7.26552179,8.43240901 C7.26552179,8.32821964 7.23956765,8.2307298 7.1967784,8.14294274 L9.44473406,6.61614098 C9.56865923,6.74551138 9.74308974,6.82752297 9.93762886,6.82752297 C10.2006776,6.82752297 10.4258472,6.67851599 10.5392504,6.46297566 L12.6211932,7.14863879 C12.6151138,7.18490871 12.6099697,7.22164066 12.6099697,7.25975873 C12.6099697,7.63077456 12.9144048,7.93156074 13.2896876,7.93156074 C13.6652042,7.93156074 13.9696392,7.63077456 13.9696392,7.25975873 C13.9696392,7.10220406 13.9123531,6.95897254 13.8202276,6.84438733 L16.2629562,4.22971909 C16.3712153,4.30156587 16.5014536,4.34361125 16.6415125,4.34361125 C17.0170291,4.34361125 17.3214641,4.04282507 17.3214641,3.67180923 C17.3214641,3.3007934 17.0170291,3.00000722 16.6415125,3.00000722 C16.2662297,3.00000722 15.9617946,3.3007934 15.9617946,3.67180923 C15.9617946,3.8293639 16.0190808,3.97259542 16.1109725,4.08718063 L13.66801,6.70184887 C13.5597509,6.63000209 13.4295126,6.58795671 13.2892199,6.58795671 C13.0264051,6.58795671 12.8012354,6.73696369 12.6878322,6.95250402 L10.6056556,6.26684089 C10.611735,6.23057097 10.6171129,6.19383902 10.6171129,6.15595197 C10.6171129,5.78493614 10.3126778,5.48414996 9.93716122,5.48414996 C9.56187842,5.48414996 9.25720957,5.78493614 9.25720957,6.15595197 C9.25720957,6.25991033 9.28316371,6.35740017 9.32618679,6.44541825 L7.07823112,7.97222001 C6.95430596,7.84261859 6.77987545,7.76106903 6.58533633,7.76106903 C6.21005352,7.76106903 5.90538468,8.06185522 5.90538468,8.43287105 C5.90538468,8.55970025 5.9432637,8.6772887 6.00499245,8.77847484 L3.67847291,10.7058628 C3.55875653,10.6028285 3.40443463,10.5381433 3.23327761,10.5381433 C2.85776099,10.5381433 2.55332597,10.8389295 2.55332597,11.2099453 C2.55355979,11.5804991 2.85799481,11.8812853 3.23351143,11.8812853 Z" id="Shape"></path>
                          <polygon id="Shape" points="19.640969 13.4760065 1.2878864 13.4760065 1.2878864 0 0.820244277 0 0.820244277 13.4760065 0.0778624129 13.4760065 0.0778624129 13.9380437 0.820244277 13.9380437 0.820244277 14.6310994 1.2878864 14.6310994 1.2878864 13.9380437 19.640969 13.9380437"></polygon>
                      </g>
                  </g>
              </g>
          </g>
      </g>
        </svg>
      </div></a>

    </div>
</div>
<div class="top-front"></div>
